@import url(~@fortawesome/fontawesome-free/css/all.css);
.cart {
  display: flex;
  flex-direction: column; }
  .cart__titles {
    padding: 0 6rem 0 4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
  .cart__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }

.cart__title--item {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .cart__title--item:hover {
    color: #ff0101; }

.cart__title--number {
  border: 1px solid #aeaeae;
  border-radius: 50%;
  padding: 1rem 1.5rem;
  margin-right: 1rem; }
  .cart__title--number:hover {
    border: 1px solid #ff0101; }

.cart__title--text {
  text-transform: uppercase;
  font-size: 2.4rem; }

.checkout__row-first {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 1px solid #efefef; }

.checkout__row--item {
  display: flex;
  flex-direction: column;
  width: 32%; }

.checkout__row__main-title {
  color: #333333;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem; }

.checkout__row__bold-title {
  font-weight: bold;
  font-size: 2.4rem; }

.row-guest {
  padding: 0 2rem; }
  .row-guest__about-info {
    color: #333333; }
  .row-guest__bold {
    font-weight: 500; }
  .row-guest__checkbox-container {
    padding-top: 2rem;
    border-top: 1px solid #efefef; }
  .row-guest__checkbox-group {
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem; }
  .row-guest__list--title {
    color: #333333;
    font-weight: 500; }
  .row-guest__list--subtitle {
    color: #808080;
    font-weight: 500; }
  .row-guest__main-list {
    padding: 2rem 2rem 0 2rem;
    border-bottom: 1px solid #efefef;
    margin-bottom: 2rem; }
  .row-guest__btn {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    font-size: 1.8rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    width: 100%; }

.row-member__group {
  margin-top: 2rem; }

.row-member__label {
  color: #333333;
  font-weight: 500; }

.row-member__input {
  display: block;
  background-color: #fff;
  outline: none;
  border: 1px solid #efefef;
  font-family: inherit;
  padding: 1rem;
  width: 100%; }

.row-member__red {
  color: red; }

.row-member__password {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; }

.row-member__required {
  color: red; }

.row-member__passnumber {
  color: #333333; }
  .row-member__passnumber:hover {
    text-decoration: none; }

.row-member__action {
  margin-top: 4rem; }

.row-member__btn {
  width: 100%; }

.table__btn-update {
  display: inline-block;
  background-color: #333333;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  padding: 1rem 3rem;
  border: none;
  margin-bottom: .5rem; }

.table {
  display: grid;
  grid-template-rows: 2rem 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  width: 69%; }
  .table__titles {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr; }
  .table__title {
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #e6e6e6; }
  .table__product {
    display: grid;
    grid-template-columns: 12% 1fr 1fr 3rem 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    padding: 2rem; }
    .table__product--image {
      background-color: #eaeaea;
      width: 7.5rem;
      height: 11rem; }
  .table__price {
    display: flex;
    align-items: center; }
    .table__price--close {
      color: #fb4d01;
      font-weight: bold;
      font-size: 1.8rem;
      margin-left: 1rem; }
  .table__amount {
    width: 100%; }
  .table__input {
    width: 100%;
    display: block; }
  .table__last {
    padding: 2rem;
    display: flex;
    justify-content: space-between; }
    .table__last--coupon {
      text-transform: uppercase;
      color: #333333;
      font-style: italic;
      margin-bottom: .5rem; }
    .table__last--input {
      display: block;
      background-color: #fff;
      border: 1px solid #d1d1d1;
      padding: 1rem .5rem;
      width: 100%; }
    .table__last--continue {
      color: #333333;
      transition: text-decoration 1s; }
      .table__last--continue:hover {
        text-decoration: none; }

.delivery-form {
  display: flex;
  justify-content: space-between; }
  .delivery-form__left {
    padding: 2rem;
    width: 53%; }
  .delivery-form__right {
    width: 45%;
    padding: 2rem; }
  .delivery-form__first {
    width: 50%; }
  .delivery-form__second {
    width: 45%; }
  .delivery-form__title {
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 2rem; }
  .delivery-form__container {
    display: flex;
    justify-content: space-between; }
  .delivery-form__form-group {
    margin-bottom: 1.5rem; }
  .delivery-form__label {
    display: block;
    text-transform: uppercase;
    color: #333333;
    font-size: 1.2rem;
    font-weight: 500; }
  .delivery-form__input {
    display: block;
    border: 1px solid #efefef;
    background-color: #ffffff;
    padding: 1rem .5rem;
    font-family: inherit;
    width: 100%;
    margin-bottom: 1rem; }
  .delivery-form__select {
    display: block;
    border: 1px solid #efefef;
    width: 100%;
    padding: .9rem .5rem;
    font-family: inherit;
    background-color: #fff; }
  .delivery-form__phone-group {
    display: flex; }
  .delivery-form__code-phone {
    width: 30%; }
  .delivery-form__checkbox {
    width: 30%; }
  .delivery-form__btn {
    display: inline-block;
    outline: none;
    background-color: #333333;
    color: #ffffff;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 2rem;
    border: none;
    padding: 1rem 0;
    width: 100%; }

.checkbox__group {
  display: flex;
  justify-content: space-between; }

.checkbox__input {
  width: 4%; }

.checkbox__label {
  width: 93%; }

.payment__container {
  margin-bottom: 2rem; }

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #707070; }

.container {
  background-color: #F8F8F8;
  max-width: 94rem; }

.page__breadcrumbs {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 2rem 4rem; }

.breadcrumbs__link {
  color: inherit;
  text-decoration: none; }

.desc__icons {
  display: flex; }

.desc__title {
  color: #333333;
  text-transform: uppercase;
  font-weight: bold; }

.desc__icon {
  width: 2.4rem;
  height: 2.4rem;
  margin: 1rem 1rem 0 0; }
  .desc__icon img {
    width: 100%;
    height: 100%; }

.total {
  background-color: #fb4d01;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2.5rem 6rem; }
  .total__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    align-self: center; }
  .total__row {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase; }
  .total__bold {
    font-size: 2rem; }
  .total__action {
    margin-top: 4rem;
    align-self: center; }
  .total__btn {
    display: inline-block;
    background-color: #333333;
    outline: none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.4rem;
    padding: .5rem 4rem;
    font-weight: bold; }

@media (max-width: 850px) {
  .cart__titles {
    padding: 0 1rem 0 1rem; }
  .cart__title--number {
    padding: 3px 8px; }
  .cart__title--text {
    font-size: 2rem; }
  .table {
    width: 100%; }
  .checkout__row-first {
    flex-wrap: wrap; }
  .total {
    overflow: hidden;
    padding: 2rem 1.5rem 3rem;
    width: 100%; }
  .cart__content {
    flex-wrap: wrap; } }
