
/*Fonts: Roboto, Raleway
Width Container - 1320px
Body color - #F8F8F8
First page blue color - #ACEBFA
Menu blue color - #21D3FC
Footer color - #343434
Font size - 14px */

/* fix the map */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    line-height: 1.42;
    font-size: 14px;
    font-family: 'Roboto', 'Raleway', Arial, Helvetica, Sans-serif;
    /* to smooth fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F8F8F8;
  }

ul {
    padding: 0;
    margin: 0;
  }
  
ul li {
    list-style: none;
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
  }
  
a {
    text-decoration: none;
  }
  
  
table {
    border-collapse: collapse;
    border-spacing: 0;
  }

button {
  display: inline-block;
  border: none;
  outline: none;
  vertical-align: middle;
  font-family: inherit;
}
  


h4 {
  font-size: 22px;
  font-weight: bold;
}

h5 {
  font-size: 20px;
}


.hero {
    height: 20rem;
    padding: 3% 15% 0 15%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#map {
  width: 100%;
  height: 20rem;
  background-color: grey;
  z-index: -1;
}

.hero__social-icon > i {
  font-size: 20px;
  vertical-align: middle;
  color: white;
  margin: .1rem;
  z-index: 3;
}

.hero__social-icon {
  margin-top: 2rem;
  vertical-align: middle;
  height: 2rem;
  background-color: grey;
  opacity: 0.8;
  padding: 5px;
  z-index: 2;
}


.language__container {
  display: inline-block;
}

.contact-detail img {
  height: 20px;
  width: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
}

.column {
  width: 35rem;
  background-color: grey;
}

.main__container {
  padding: 1% 3% 5% 3%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.navigation img {
  height: 8px;
  align-self: center;
  margin: 0 5px;
}

.navigation > div {
  display: flex;
  justify-content: flex-start;
  
}

.main__body {
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 60%;
  padding: 2.3rem 1.5rem 0 0.5rem ;
}

.contact-form::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 33%;
  height: 20rem;
  width: 1px;
  background-color: lightgrey;
}

.contact-form label {
  font-weight: bold;
  text-transform: uppercase;
  }
  
.contact-form input {
    width: 100%;
    margin: .4rem 0 1.2rem 0;
  }
  
.contact-form textarea {
    width: 100%;
  }
  
.contact-form button {
  border-radius: 3px;
  background-color: lightgrey;
  padding: 0.5rem 1rem;
  margin-top: .5rem;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: grey;
  cursor: pointer;;
}

.contact-form button:active {
  background-color: #9A9A9A;
}

.contact-detail {
  width: 40%;
  padding: 3rem 0 0 1.5rem;
}

.contact-detail div {
  display: flex;
  margin: .5rem 0;
}

.contact-detail img {
  margin-right: 8px;
}

.contact-num {
  font-size: 22px;
}

.contact-num,
.contact-email,
.contact-request {
  font-weight: bold;
}


/* Emmanuel styles*/

.menu {
  font-size: 20px;
  text-decoration: none;
}

.menu_text {
  color: white;
  background: black;
  padding-left: 50px;
}

ul.menu_item {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style-type: none;
  background: #21D3FC;
  line-height: 1.1rem;
}

.menu_item li a {
  font-weight: bold;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  display: block;
}

.menu_item li a:hover {
  color: white;
  background: black;
}

.menu_item--1 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  background: rgb(207, 203, 203);
  margin-top: 30px;
  font-size: 55px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
}

.menu_item--tag {
  background: white;
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
}

.Kitesurf,
.super,
.men,
.women,
.apparel,
.theme,
.equipement,
.duper,
.best,
.accessories {
  background: rgb(207, 203, 203);
  border-radius: 2px;
  border: 1px;
  display: inline-block;
  cursor: pointer;
  font-family: Trebuchet MS;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
  /* margin-right: 10px; */
  text-decoration: none;
  margin: 5px;
}

.Kitesurf:hover,
.super:hover,
.men:hover .women:hover,
.apparel:hover,
.theme:hover,
.equipement:hover,
.duper:hover,
.best:hover,
.accessories:hover {
  background: yellow;
}

.menu_item--tagtext {
  font-size: 33px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu_item--tags--subtext {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.menu_item--tagimg {
  width: 32px;
  margin-left: 10px;
}

.menu_item--articles {
  line-height: 2rem;
  background: white;
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
}

.menu_item--articles--subtext {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

/*Footer Helmi*/

.footer__container {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 6rem 18rem 2rem;
}

.social__section-container {
  padding: 0 10%;
  width: 1320px;
  margin: 0 auto;
}

.social__section {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100%;
}


.social__section i {
  color: white;
  font-size: 55px;
}

.social__section div {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}

.social__section-fb {
  background-color: #3b5998;
  align-items: center;
  justify-items: center; 
}

.social__section-tt {
  background-color: #38A1F3;
}

.social__section-p {
  background-color: #c8232c;
}

.info__section-container {
  padding: 0 10%;
  background-color: #283747;
}

.info__section {
  display: grid;
  width: 100%;
  padding: 3rem 1rem;
  grid-template-columns: 14% 14% 14% 25% 25%;
  grid-template-rows: 100%;
  color: white;
}

.info__section div {
  padding-left: 1rem;
}

.newsletter input {
  width: 70%;
  border: none;
  padding: 5px 10px;
  background-color: yellow;
  color: grey;
}


.newsletter button {
  width: 27%;
  margin: 10px 10px 10px -10px;
  border: none;
  padding: 5px 10px;
  background-color: black;
  color: white;
}

.email-yellow {
  color: yellow;
}

.copyright__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212F3D;
  color: white;
  padding: 0 10%;
}

.footer__social-icon i {
  margin: 0.2rem;
}