body {
  background-color: #F8F8F8;
  font-family: Roboto, Railway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

header {
  border: 2px solid blue;
  width: 100%;
}

.content-wrapper {
  border: 2px solid salmon;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar {
  border: 2px solid blueviolet;
  min-width: 250px;
}

.main {
  width: 80%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* NAV BAR */
.nav {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__category {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: start;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
}

.nav__category--li a {
  display: block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #999999;
  cursor: pointer;
}

.nav__category--arrow {
  font-size: 14px;
  color: #999999;
}

.nav__previous {
  display: grid;
  justify-content: end;
}

.nav__previous p {
  font-size: 14px;
  color: #999999;
}

.nav__previous p a {
  text-decoration: none;
  color: #999999;
}

/* ITEM SECTION LAYOUT */
.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item__imgs {
  max-width: 450px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.item__cart {
  max-width: 500px;
}

/* ITEM SECTION LAYOUT ENDS*/
/*-------------------------*/


/* ITEM SECTION DETAILS */
.item__main-img {
  margin-bottom: 1rem;
}

.item__slider--btn {
  color: #5d5e5e;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.checked {
  color: orange;
}

#rating__star {
  margin-right: 1rem;
}

#rating__counter {
  margin: 0;
  margin-right: 1rem;
  cursor: pointer;
}

#addReview__btn {
  margin: 0;
  cursor: pointer;
}

#addReview__btn a {
  text-decoration: none;
  color: black;
}

/* MODAL TO ADD REVIEWS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: .5rem;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 1.8rem;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.review__header {
  font-size: 1.8rem;
  font-weight: bold;
}

.review__product {
  font-size: 1.5rem;
  font-weight: bold;
}

#required {
  font-size: 0.8rem;
  font-weight: 300;
}

.review__title {
  font-weight: bold;
}

.star {
  color: goldenrod;
  font-size: 2rem;
  padding: 0.1rem;
  /* space out the stars */
}

.star::before {
  content: '\2606';
  /* star outline */
  cursor: pointer;
}

.star.rated::before {
  /* the style for a selected star */
  content: '\2605';
  /* filled star */
}

.review__stars {
  font-size: 1rem;
  padding: 0;
  margin-bottom: 0;
}

/* #customerReviewStars {
  counter-reset: rateme 0;
  font-size: 2.0rem;
  font-weight: 900;
} */
/* 
.star.rated {
  counter-increment: rateme 1;
} */

/* #customerReviewStars::after {
  content: counter(rateme) '/5';
} */


#customerReviewContent {
  height: 150px;
  text-align: justify;
  overflow: auto;
  font-family: Roboto, Railway;
}

#modal__sendBtn {
  background-color: #21D3FC;
  color: white;
  border: none;
  padding: .7rem .5rem;
  margin-top: 1rem;
}

/* ------------------------ */
/* MODAL TO ADD REVIEWS ENDS*/

.availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability__price {
  font-size: 24px;
  font-weight: bold;
}

.availability__inStock {
  text-align: right;
}

.availability__inStock--bold {
  font-weight: bold;
}


/* ITEM DESCRIPTION */

.description {
  border-top: 1px solid grey;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.description__title {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.description__info {
  font-size: 14px;
  margin-bottom: 0;
}

.description__btns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
}

.size,
.length {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
  background-color: white;
  text-align: center;
}

.size:hover,
.length:hover {
  color: #f5672f;
}

.description__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__cart .quan,
.description__cart .addToCartBtn,
.description__cart .otherBtns {
  margin-left: 0.5rem;
}

.description__cart .quan {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  align-items: stretch;
}

.description__cart .quan__title {
  margin: 0;
}

.description__cart .quan__input {
  width: 2rem;
  margin-left: 1rem;
}

.description__cart .quan__input::-webkit-inner-spin-button,
.description__cart .quan__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.description__cart .btn {
  border: none;
  text-decoration: none;
  display: inline-block;
}

.description__cart .btn--orange {
  padding: 1rem 0.7rem;
  background-color: #f5672f;
  color: white;
  font-size: 18px;
}

.description__cart .otherBtns {
  display: flex;
  flex-direction: column;
}

.description__cart .btn--plain {
  padding: 0;
  margin-bottom: 0.2rem;
  background-color: transparent;
  font-weight: bold;
}

.description__cart .btn--plain:hover {
  color: #f5672f;
}

#addToCartBtn {
  display: "inline-block";
}

/*ITEM MOREINFO TABS*/
.item__moreInfo {
  width: 100%;
  margin-top: 1.5rem;
}

.moreInfo__tabs {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
}

.tab {
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.tab:hover {
  background-color: #ACEBFA;
}

.tab.active {
  background-color: #21D3FC;
}

.tab__content {
  width: 100%;
  height: 100%;
  color: #999999;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
  border: 1px solid #ddd;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*-----------------------*/
/*ITEM MOREINFO TABS ENDS*/

.suggestion,
.viewed {
  margin-top: 2rem;
  text-align: center;
}

.suggestion__title,
.viewed__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.suggestion__slider--btn::after {
  padding: .3rem 1rem;
  background-color: #21D3FC;
  color: #5d5e5e;
}

.viewed__slider--btn::after {
  padding: .3rem 1rem;
  background-color: yellow;
  color: #5d5e5e;
}

.slide--white {
  background-color: white;
  padding-top: 1rem;
}

.imgCard__info {
  display: flex;
  justify-content: space-around;
}

.imgCard__info p {
  font-weight: bold;
}