.nav {
  border: 2px solid orange;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.nav__category {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: start;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
}
.nav__category--li a {
  display: block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #999999;
}
.nav__category--arrow {
  font-size: 14px;
  color: #999999;
}

.nav__previous {
  display: grid;
  justify-content: end;
}
.nav__previous p {
  font-size: 14px;
  color: #999999;
}
.nav__previous p a {
  text-decoration: none;
  color: #999999;
}

.item {
  border: 2px solid grey;
  display: grid;
  grid-template-areas: "img cart";
  align-items: center;
  align-content: start;
  justify-items: center;
}
.item__imgs {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  display: grid;
  margin-right: 1.5rem;
}
.item__cart {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  border: 2px solid yellowgreen;
  grid-area: cart;
  display: flex;
  flex-direction: column;
}

.item__main-img,
.item__img-slider {
  border: 2px solid salmon;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.rating {
  border: 2px solid green;
  display: grid;
  grid-template-columns: repeat(4, auto);
  font-weight: bold;
}

#rating__counter {
  margin: 0;
}

#rating__addReview {
  margin: 0;
}
#rating__addReview a {
  text-decoration: none;
  color: black;
}

.availability {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.availability__price {
  font-size: 24px;
  font-weight: bold;
}
.availability__inStock {
  text-align: right;
}
.availability__inStock--bold {
  font-weight: bold;
}

.spec {
  position: relative;
}
.spec::before {
  content: "";
  position: absolute;
  left: 30px;
  top: -10px;
  height: 15px;
  width: 80%;
  border: transparent;
  border-top: 0.5px solid #b0b0b0;
}
.spec__title {
  font-size: 16px;
  font-weight: bold;
}
.spec__info {
  font-size: 14px;
}

.spec__info--btns {
  width: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
}

.size,
.length {
  border: 1px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  text-align: center;
}
.size:hover,
.length:hover {
  color: #f5672f;
}

.addToCart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  align-items: center;
}
.addToCart .quan,
.addToCart .addToCartBtn,
.addToCart .otherBtns {
  border: 1px solid turquoise;
  margin-left: 0.5rem;
}
.addToCart .quan {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  align-items: stretch;
}
.addToCart .quan__title {
  margin: 0;
}
.addToCart .quan__input {
  width: 2rem;
  margin-left: 1rem;
}
.addToCart .quan__input::-webkit-inner-spin-button, .addToCart .quan__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.addToCart .btn {
  border: none;
  text-decoration: none;
  display: inline-block;
}
.addToCart .btn--orange {
  padding: 1rem 0.7rem;
  background-color: #f5672f;
  color: white;
  font-size: 18px;
}
.addToCart .btn--plain {
  padding: 0;
  margin-bottom: 0.2rem;
  background-color: transparent;
  font-weight: bold;
}
.addToCart .btn--plain:hover {
  color: #f5672f;
}

.item__moreInfo {
  width: 100%;
  margin-top: 1.5rem;
}

.moreInfo__tabs {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
}

.tab {
  border: 1px solid blueviolet;
  padding: 1rem 0.5rem;
  cursor: pointer;
}
.tab:hover {
  background-color: #ACEBFA;
}

.tab.active {
  background-color: #21D3FC;
}

.tab__content {
  width: 100%;
  height: 100%;
  color: #999999;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
  border: 1px solid #ddd;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  background-color: #F8F8F8;
  font-family: Roboto, Railway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: auto;
}

.product-detail {
  border: 3px solid red;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas: "head head head" "sidebar main main" "footer footer footer";
  justify-content: center;
  align-items: center;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  border: 2px solid blue;
  width: 100%;
  grid-area: head;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  border: 2px solid blueviolet;
  grid-area: sidebar;
}

.main-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.suggestion__slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.suggestion__slider .imgCard {
  display: grid;
  grid-template-rows: 80% 20%;
}

.viewed__slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.viewed__slider .imgCard {
  display: grid;
  grid-template-rows: 80% 20%;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.nav__category ul {
  width: 100%;
}