* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Raleway;
    background-color: #F8F8F8;
    font-size: 14px;
}

.eshopCat__container {
    display: flex;
    width: 100%;
    background-color: #f8f8f8;
}

/************ shop-cat-header ***************/

.eshopCat__header {
    display: flex;
    width: 100%;
    background-color: #ACEBFA;
}

.header__left {
    width: 50%;
}

.header__logo {
    /* display: flex;
    justify-content: center; */
    width: 20%;
    margin-left: 140px;
}

.header__logo>img {
    padding: 20px;
    padding-left: 65px;
}

.header__cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-bottom: 20px;
    margin-left: 140px;
    text-transform: uppercase;
    /* width: 200px; */
}

.cart__top {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
}

.cart__middle {
    width: 100%;
    background-color: orangered;
    /* padding: 10px 0; */

}

.cart__bottom {
    width: 100%;
    background-color: white;
    padding: 10px 0;

}

.cart__bottom input {
    width: 100%;
    padding: 5px auto;
    background-color: white;
    font-size: 12px;
    /* padding: 0 10px; */
    outline: none;
    border: transparent;
}

.header__right {
    position: relative;
    width: 50%;
}

.socials {
    position: absolute;
    top: 50px;
    right: 150px;
    display: flex;
}

.socials i {
    margin-left: 10px;
    color: white;
}

#choose__lang {
    background-color: transparent;
    border: transparent;
    color: white;
}

/************* shop-cat-grid *************/
.eshopCat__main {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px dotted blue;

}

.eshopCat__sidebar {
    width: 20%;
    margin-left: 140px;
    /* border: 1px solid red; */
}

.eshopCat__sidebar>div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.eshopCat__sidebar>div:last-child {
    background-color: white;
}

.sidebar__menu {
    background-color: #21D3FC;
    width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

li {
    font-weight: bold;
    padding: 8px 0px;
    padding-left: 30px;
}

li a {
    display: block;
    text-decoration: none;
    padding: 10px auto;

}

li:first-child {
    background-color: #000;
    color: white;
}

li:hover {
    background-color: #000;
    color: white;
}

li.active {
    background-color: #000;
    color: white;
}

.sidebar__catOptions {
    background-color: #21D3FC;
    width: 150px;
}

.sidebar__brandOptions {
    background-color: #21D3FC;
    width: 150px;
}

.sidebar__tagsWidget {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.sidebar__tagsWidget h2 {
    font-style: italic;
    font-weight: 700;
    text-transform: capitalize;
}

.widget__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#tags {
    margin: 5px;
    width: 85px;
    height: 30px;
    background-color: lightgray
}


.eshopCat__grid {
    margin-top: 20px;
    width: 60%;
    margin-left: 20px;
    margin-right: 125px;
    /* border: 1px solid green; */
}

.grid__filter {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

.grid__display {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

.display__block {
    background-color: #e9e9e9;
}

.display__block {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300;
    text-align: center;
    align-items: center;
    background-color: white;
    border: 5px solid white;
}

.block__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    text-transform: uppercase;
    font: italic bold 12px roboto;
}