@import "variables";
@import "mixins";
.checkout {
  &__row {
    &-first {
      display: flex;
      justify-content: space-between;
      padding-bottom: 4rem;
      border-bottom: 1px solid #efefef;
    }
    &--item {
      display: flex;
      flex-direction: column;
      width: 32%;
    }
    &__main-title {
      color: $dark-grey-color;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    &__bold-title {
      font-weight: bold;
      font-size: 2.4rem;
    }
  }

}

.row-guest {
  padding: 0 2rem;
  &__about-info {
    color: $dark-grey-color;
  }
  &__bold {
    font-weight: 500;
  }
  &__checkbox-container {
    padding-top: 2rem;
    border-top: 1px solid #efefef;
  }
  &__checkbox-group {
    color: $dark-grey-color;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__list--title {
    color: $dark-grey-color;
    font-weight: 500;
  }
  &__list--subtitle {
    color: #808080;
    font-weight: 500;
  }
  &__main-list {
    padding: 2rem 2rem 0 2rem;
    border-bottom: 1px solid #efefef;
    margin-bottom: 2rem;
  }

  &__btn {
    display: inline-block;
    background-color: $dark-grey-color;
    color: #ffffff;
    font-size: 1.8rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    width: 100%;
  }

}

.row-member {
  &__group {
    margin-top: 2rem;
  }
  &__label {
    color: $dark-grey-color;
    font-weight: 500;
  }
  &__input {
    display: block;
    background-color: #fff;
    outline: none;
    @include border(#efefef);
    font-family: inherit;
    padding: 1rem;
    width: 100%;
  }
  &__red {
    color: red;
  }
  &__password {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  &__required {
    color: red;
  }
  &__passnumber {
    color: $dark-grey-color;
    &:hover {
      text-decoration: none;
    }
  }
  &__action {
    margin-top: 4rem;
  }
  &__btn {
    width: 100%;
  }
}
