@import "variables";
@import "mixins";

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  font-family: $main-font-family;
  color: $main-text-color;
}

.container {
  background-color: $body-color;
  max-width: 94rem;
}

.page {
  &__breadcrumbs {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 2rem 4rem;
  }
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}

.cart {
  display: flex;
  flex-direction: column;
  &__titles {
    padding: 0 6rem 0 4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

}

.cart__title {
  &--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      color: #ff0101;
    }
  }
  &--number {
    border: 1px solid #aeaeae;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    &:hover {
      border: 1px solid #ff0101;
    }
  }
  &--text {
    text-transform: uppercase;
    font-size: 2.4rem;

  }

}

.table {
  display: grid;
  grid-template-rows: 2rem 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  width: 69%;
  &__titles {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  }
  &__title {
    color: $dark-grey-color;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #e6e6e6;
  }
  &__product {
    display: grid;
    grid-template-columns: 12% 1fr 1fr 3rem 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    padding: 2rem;
    &--image {
      background-color: #eaeaea;
      width: 7.5rem;
      height: 11rem;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    &--close {
    color: $form-color;
      font-weight: bold;
      font-size: 1.8rem;
      margin-left: 1rem;
    }
  }
  &__amount {
    width: 100%;
  }
  &__input {
    width: 100%;
    display: block;
  }
  &__last {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    &--coupon {
      text-transform: uppercase;
      color: $dark-grey-color;
      font-style: italic;
      margin-bottom: .5rem;
    }
    &--input {
      display: block;
      background-color: #fff;
      border: 1px solid #d1d1d1;
      padding: 1rem .5rem;
      width: 100%;
    }
    &--continue {
      color: $dark-grey-color;
      transition: text-decoration 1s;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.desc {
  &__icons {
    display: flex;

  }
  &__title {
    color: $dark-grey-color;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin: 1rem 1rem 0 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.total {
  background-color: $form-color;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 2.5rem 6rem;
  &__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__bold {
    font-size: 2rem;
  }
  &__action {
    margin-top: 4rem;
    align-self: center;
  }
  &__btn {
    display: inline-block;
    background-color: $dark-grey-color;
    outline: none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.4rem;
    padding: .5rem 4rem;
    font-weight: bold;

  }
}

.table__btn-update {
  display: inline-block;
  background-color: $dark-grey-color;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  padding: 1rem 3rem;
  border: none;
  margin-bottom: .5rem;
}

.checkout {
  &__row {
    &-first {
      display: flex;
      justify-content: space-between;
    }
    &--item {
      display: flex;
      flex-direction: column;
      width: 32%;
    }
    &__main-title {
      color: $dark-grey-color;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    &__bold-title {
      font-weight: bold;
      font-size: 2.4rem;
    }
  }

}

.row-guest {
  padding: 0 2rem;
  &__about-info {
    color: $dark-grey-color;
  }
  &__bold {
    font-weight: 500;
  }
  &__checkbox-container {
    padding-top: 2rem;
    border-top: 1px solid #efefef;
  }
  &__checkbox-group {
    color: $dark-grey-color;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__list--title {
    color: $dark-grey-color;
    font-weight: 500;
  }
  &__list--subtitle {
    color: #808080;
    font-weight: 500;
  }
  &__main-list {
    padding: 2rem 2rem 0 2rem;
    border-bottom: 1px solid #efefef;
    margin-bottom: 2rem;
  }

  &__btn {
    display: inline-block;
    background-color: $dark-grey-color;
    color: #ffffff;
    font-size: 1.8rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
  }

}