.suggestion,
.viewed {
  margin-top: 2rem;
  text-align: center;
}

.suggestion__title,
.viewed__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.suggestion__slider--btn::after {
  padding: .3rem 1rem;
  background-color: #21D3FC;
  color: #5d5e5e;
}

.viewed__slider--btn::after {
  padding: .3rem 1rem;
  background-color: yellow;
  color: #5d5e5e;
}

.slide--white {
  background-color: white;
  padding-top: 1rem;
}

.imgCard__info {
  display: flex;
  justify-content: space-around;
}

.imgCard__info p {
  font-weight: bold;
}