@import 'variables';
@import 'mixins';

.table__btn-update {
  display: inline-block;
  background-color: $dark-grey-color;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  padding: 1rem 3rem;
  border: none;
  margin-bottom: .5rem;
}


.table {
  display: grid;
  grid-template-rows: 2rem 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  width: 69%;
  &__titles {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  }
  &__title {
    color: $dark-grey-color;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #e6e6e6;
  }
  &__product {
    display: grid;
    grid-template-columns: 12% 1fr 1fr 3rem 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    padding: 2rem;
    &--image {
      background-color: #eaeaea;
      width: 7.5rem;
      height: 11rem;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    &--close {
      color: $form-color;
      font-weight: bold;
      font-size: 1.8rem;
      margin-left: 1rem;
    }
  }
  &__amount {
    width: 100%;
  }
  &__input {
    width: 100%;
    display: block;
  }
  &__last {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    &--coupon {
      text-transform: uppercase;
      color: $dark-grey-color;
      font-style: italic;
      margin-bottom: .5rem;
    }
    &--input {
      display: block;
      background-color: #fff;
      @include border(#d1d1d1);
      padding: 1rem .5rem;
      width: 100%;
    }
    &--continue {
      color: $dark-grey-color;
      transition: text-decoration 1s;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
