$main-font-family: 'Roboto', sans-serif;
$title-font-family: 'Raleway', sans-serif;
$body-color: #F8F8F8;
$form-color: #fb4d01;
$page-blue-color: #ACEBFA;
$menu-blue-color: #21D3FC;
$main-text-color: #707070;
$dark-grey-color: #333333;
$font-size: 1.4rem;
