//Mixins
@mixin spec {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 30px;
    top: -10px;
    height: 15px;
    width: 80%;
    border: transparent;
    border-top: .5px solid $greyBorder;
  }

  &__title {
    font-size: $subTitle;
    font-weight: bold;
  }

  &__info {
    font-size: $normalText;
  }
}

// @mixin wrapper {
//   width: 80%;
//   height: auto;
// }

@mixin slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .imgCard {
    display: grid;
    grid-template-rows: 80% 20%;
  }
}