@import "reset";
@import "variables";
@import "mixins";
@import "_nav";
@import "_item";
@import "_moreInfo";

body {
  background-color: $bodyColor;
  font-family: Roboto, Railway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;

}

header {
  border: 2px solid blue;
  width: 100%;
  // grid-area: head;
}

.sidebar {
  border: 2px solid blueviolet;
  width: 15%;
  height: 100%;
  position: relative;
}

.main {
  border: 5px solid red;

  position: absolute;
  left: 15%;

  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.main-content {
  grid-area: main;
}


// .suggestion__slider {
//   @include slider;
// }

// .viewed__slider {
//   @include slider;
// }

footer {
  grid-area: footer;
}

//NAV BAR


.nav__category {
  ul {
    width: 100%;
  }

}

.swiper-container {
  width: 800px;
  height: 300px;
}