@import "reset";
@import "variables";
@import "mixins";
@import "_nav";
@import "_item";
@import "_moreInfo";


body {
  background-color: $bodyColor;
  font-family: Roboto, Railway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: auto;
}

.product-detail {
  border: 3px solid red;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas:
    "head head head"
    "sidebar main main"
    "footer footer footer";
  justify-content: center;
  align-items: center;
}

// .wrapper {
//   @include wrapper;
// }

header {
  border: 2px solid blue;
  width: 100%;
  grid-area: head;
}

.sidebar {
  border: 2px solid blueviolet;
  grid-area: sidebar;
}

.main-content {
  grid-area: main;
}


.suggestion__slider {
  @include slider;
}

.viewed__slider {
  @include slider;
}

footer {
  grid-area: footer;
}

//NAV BAR


.nav__category {
  ul {
    width: 100%;
  }

}