@import "reset";
@import "variables";
@import "mixins";
@import "_header";
@import "_sidebar";
@import "_nav";
@import "_item";
@import "_modal";
@import "_moreInfo";
@import "suggestion-viewed";

body {
  background-color: #F8F8F8;
  font-family: Roboto, Railway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MAIN SECTION LAYOUT */
.content-wrapper {
  border: 2px solid salmon;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  width: 80%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ITEM SECTION LAYOUT */
.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item__imgs {
  max-width: 450px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.item__cart {
  max-width: 500px;
}

/* ----------------------- */
/* ITEM SECTION LAYOUT ENDS*/