// Variables 
$bodyColor: #F8F8F8;
$lightBlue: #ACEBFA;
$deepBlue: #21D3FC;
$greyBorder: #b0b0b0;
$orange: #f5672f;

$itemHead: 15px;
$normalText: 14px;
$subTitle: 16px;
$sectionHead: 20px;

$greyText: #999999;